<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickSettingsSoundProfile">
        <activity
            android:name="com.curryplayer.quicksettingssoundprofile.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickSettingsSoundProfile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            Long pressing on the tile will open the MainActivity
            -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <!--
            Add the filter for the configuration of the DnD / modes rule.
            This activity is allowed to edit the DnD / modes rule on Android 10 and above.
            -->
            <intent-filter>
                <action android:name="android.app.action.AUTOMATIC_ZEN_RULE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.curryplayer.quicksettingssoundprofile.services.SoundProfileTileService"
            android:exported="true"
            android:icon="@drawable/ic_round_volume_up_24"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false" />
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
            <!--
            While it would probably make sense to categorize the tile into the "Utilities" category,
            it also confuses me if the tile is not placed at the bottom under the
            "From apps you installed" section.
            <meta-data
                android:name="android.service.quicksettings.TILE_CATEGORY"
                android:value="android.service.quicksettings.CATEGORY_UTILITIES" />
            -->
        </service>

        <!--
        This deprecated service is required for Android versions older than 10 to
        enable the addition of an AutomaticZenRule via a ConditionProviderService.
        It ensures backward compatibility despite its deprecated status.
        -->
        <service
            android:name="com.curryplayer.quicksettingssoundprofile.services.SoundProfileConditionProviderService"
            android:label="Sound Profile Rule Provider"
            android:permission="android.permission.BIND_CONDITION_PROVIDER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.ConditionProviderService" />
            </intent-filter>
            <meta-data
                android:name="android.service.zen.automatic.ruleType"
                android:value="Silence Profile Settings">   <!-- TODO: localize string -->
            </meta-data>
            <meta-data
                android:name="android.service.zen.automatic.configurationActivity"
                android:value="com.curryplayer.quicksettingssoundprofile.MainActivity">
            </meta-data>
        </service>
    </application>

</manifest>